*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url("../images/intro-bg.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


#intro-text-card{
    margin:0px 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e6e5de;

    color: white
}

#intro-text-card h1{
    font-size: 50px;
}

.button-wrapper a{
    padding: 5px;
    width: 200px;
    color: white;
    box-shadow: 0px 3px 6px #c5c4bb;
}

.register{
    margin-right: 5px;
    background-color: #feae49;
    border: 1px solid #d27300;
}

.login{
    background-color: #57bee6;
    border: 1px solid #019bfb;
}

/* forms */
.card{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card .form-control{
    margin: 10px 0px;
    box-shadow: 2px 4px #c5c4bb;
    
}

.card .card-title{
    color: white;
}

.card button{
    background-color: #feae49;
    border: 1px solid #d27300;
    color: white;
    width: 200px;
    margin: 10px 0px;
    box-shadow: 2px 4px #d27300;
}